<% if comment.author == current_user %>
 
  <div class="btn btn-outline-secondary comment-edit-btn"><span class="fa fa-pencil" aria-hidden="true"></span></div>
  <%= link_to post_comment_path(post,comment), method: :delete, data:{confirm:'Are you sure?'} ,class:'btn btn-outline-secondary' do%>
  <i class="fa fa-trash-o" aria-hidden="true"></i>
  <%end%>

<%end%>