th.category-table-control {
  width: 20%;
  padding: 0.75rem;
}
td.category-table-control{
  padding: 1rem;
}
.category-table-control i{
  font-size: 1.2rem;
  line-height: 1.5;
}

th.user-table-control {
  width: 20%;
  padding: 0.75rem;
}